* {
  color: #383331;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-tap-highlight-color: rgba(181,108,79,0.4);
  margin: 0 auto;
}

.page-enter-active, .page-leave-active {
  transition: opacity .22s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

body {
  background-color: #FFF5F2;
}

main {
  margin-top: 64px;
  width: 44.4%;
}

.m {display:none}
.l {display:inherit}


main header h1 {
  font-size: 3.3rem;
  line-height: 50px;
}

main div.divider {
  margin: 16px 0 16px 0;
  border-top: 2px solid #F9CEBD;
}

.posts {
  font-size: 1rem;
}

.preview {
  margin: 1rem;
  font-size: .77em;
}

main header p {
  color: #C4BBB8;
  font-size: 18px;
  font-style: italic;
}

section {
  font-size: 1.5rem;
  text-align: justify;
  margin: 32px 0px 32px 0px;
}

section h4 {
  font-size: 1.2rem;
  text-align: left;
}

i {
  font-size: inherit;
}

b {
  font-size: inherit;
}

section blockquote {
  color: #B56C4F;
  background-color:  #F9CEBD;
  font-size: 1.2rem;
  text-align: left;
  padding: 12px 0 12px 24px;
  border-left: 8px solid #B56C4F;
}

/* buttons */

button {
  position: relative;
  top: 0;
  left: 0;
  background-color: #B56C4F;
  color: #FFF5F2;
  margin: 8px 0px 8px 8px;
  padding: 8px;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: -4px 4px 0 #EAD3C9;
  transition: all 100ms ease;
}

.material-icons {
  font-size: 1.3rem;
  color: #FFF5F2;
  margin: 0 auto;
  vertical-align: middle;
}

button.rounded {
  border-radius: 15px;
}

@media (hover: hover) {
  button:hover {
    position: relative;
    top: -4px;
    left: 4px;
    box-shadow: -8px 8px 0 #383331;
  }
}

button:active {
  position: relative;
  top: 4px;
  left: -4px;
  box-shadow: 0px 0px 0 #383331;
}

/* MENU */

.material-icons {
  font-size: 2em;
  color: #383331;
}

.menu {
  position: fixed;
  top: 64px;
  right: 128px;
}

.back {
  position: fixed;
  top: 64px;
  left: 128px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.44em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0,0,0,0.004)
}

::-webkit-scrollbar-thumb {
  background-color: #B56C4F;
  outline: 1px solid #B56C4F;
}

/* RANDOM SH*T */

::selection {
  color: #FFF5F2;
  background-color: #B56C4F;
}

nuxt-link:visited {
  background-color: #B56C4F;
}

@media only screen and (max-width: 1024px) {
  .m {display:none}
  .l {display:inherit}

  main {
    margin-top: 88px;
    width: 55.5%;
  }

  .l.menu {
    position: fixed;
    top: 64px;
    right: 64px;
  }

  .l.back {
    position: fixed;
    top: 64px;
    left: 64px;
  }

}

@media only screen and (max-width: 768px) {
  .m {display:inherit}
  .l {display:none}

  main {
    margin-top: 88px;
    width: 77.7%;
  }

  main header h1 {
    font-size: 24px;
    line-height: 25px;
  }

  section {
    font-size: 18px;
    text-align: justify;
    margin: 32px 0px 32px 0px;
  }

  .m.menu {
    position: absolute;
    top: 32px;
    right: 48px;
  }

  .m.back {
    position: absolute;
    top: 32px;
    left: 32px;
  }

}

@media only screen and (max-width: 425px) {
  .m {display:inherit}
  .l {display:none}

  main {
    margin-top: 88px;
    width: 83.3%;
  }

  main header h1 {
    font-size: 24px;
    line-height: 25px;
  }

  section {
    font-size: 18px;
    text-align: justify;
    margin: 32px 0px 32px 0px;
  }

  .m.menu {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .m.back {
    position: absolute;
    top: 32px;
    left: 32px;
  }

}